.popular {
  position: relative;
  display: inline-block;
}

.popular::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 5px;
  width: 10%;
  height: 3px;
  background-color: #e50914;
}