*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(./assets/bat.jpg);
background-size: contain;
background-attachment: fixed;
background-position: center;
  
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

body{
  background-color: #303030 !important;
  overflow-x: hidden;
}

:root{
  overflow-x: hidden;
}

p,h1,h2,h3,h4,h5,h6{
  color: white !important;
}